@charset "UTF-8";
/* CSS Document */

#navigation {
	position: fixed;
	z-index: 6;
	width: 100%;
}

.logo {
	background-color: white;
	border-bottom-right-radius: 80px;
	width: 12%;
}

.logo img {
	padding: 0 10px 0 10px;
}

#social-icons {
	padding-top: 170px;
}

#home {
	z-index: 0;
	margin-top: -80px;
}

#work {
	z-index: 0;
	margin-top: 800px;
}

#about {
	z-index: 0;
	padding-top: 200px;
}

#contact {
	z-index: 0;
	padding-top: 250px;
}

#contact-links {
	padding-top: 20px;
}

#project {
	padding: 50px 0 0 0;
}

.logo {
	padding: 0 0 0 10px;
}

h1 {
	font-family: doodlesack, open-sans;
	font-size: 90px;
	letter-spacing: 3px;
	color: #DCDCDC;
	line-height: 75px;
	padding-bottom:10px;
}

h2 {
	font-family: doodlesack, open-sans;
	font-size: 90px;
	letter-spacing: 3px;
	color: #DCDCDC;
}

ul {
	margin: 0 0 0 0;
}

.featured-work {
	margin-top: 230px;
	margin-left: 20px;
	text-align:left;
	font-size: 150px;
	line-height:125px;
	z-index: 3;
}

.featured {
	border-radius: 500px;
	z-index: 2;
}

p {
	margin: 0;
	font-family:'Open Sans', sans-serif;
}

.body {
	padding: 37px;
	background: none;
	color: white;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
}

.page-links {
	list-style: none;
}

.contact-info {
	padding-top: 50px;
}

.info {
	list-style: none;
}

.info a {
	font-size: 13px;
}

.contact-link {
	top: 17px;
}

.info p {
	font-size: 13px;
	padding-top: 17px;
}

.info a {
	color: #4c4c4c;
}

.info a:hover {
	color: #85bab8;
}

.icon {
	list-style: none;
}

.icon img {
	width: 90%;
}

#work a {
	color: white;
}

.project-imagery {
	padding-top: 50px;
}

.column, .columns {
  position: relative;
  padding: 0 0 0 0;
  float: left;
}

.row {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.row .row {
	margin: 0 auto;
}

.social-column {
	position: fixed;
	background-color: white;
	z-index: 2;
	top: 140px;
	padding-top: 40px;
	border-bottom-right-radius: 50px;
	width: 95px;
}

.social {
	padding: 0 0 20px 20px;
}

.back {
	margin-bottom: 100px;
}

#project img {
	border-radius: 20px;
}

.project {
	border-radius: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
}

a img {
	border-radius: 20px;
}

.page-project {
	border-radius: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.block {
	margin: 10px 10px 0 0;
	background-color: #85bab7;
	border-radius: 20px;
}

.block-skill {
	border-radius: 10px;
}

.contact {
	padding: 20px 20px 0 0;
}


#about .about {
	margin-bottom: -20px;
	z-index:3;
}

.skill-v-t.row{
	margin: 0 0 20px 10px;
}

.skill-v-b.row{
	margin: 0 0 10px 10px;
}

.skill-h {
	margin: 10px 12px 0 0;
	height: 110px;
	width: 110px;
}

.skill-h-last {
	width: 110px;
	height: 110px;
	margin-top: 10px;
}

.column-skill {
	padding: 20px;
}

.form {
	margin: 10px 10px 0 0;
}

.tell-me {
	margin: 10px 0 0 0;
	width: 490px;
	height: 94px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	margin: 0;
	border-color: #85bab8;
	border-style: solid;
	border-width: 4px;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	padding: 5px;
	color: #4C4C4C;
}

input[type="text"]:focus {
	border-style: solid;
	border-color: #4c4c4c;
	border-width: 4px;
	background-color:white;
}

.form-box:focus {
	border-style: solid;
	border-color: #4c4c4c;
	border-width: 4px;
	background-color:white;
}

input.form-box {
	border-radius: 7px;
}

textarea.form-box {
	border-radius: 7px;
	border-color: #85bab8;
	border-style: solid;
	border-width: 4px;
}

textarea.tell-me {
	height: 94px;
}

input.send {
	background-color: white;
	border-color: rgba(83,112,146,1);
	border-style: solid;
	border-radius: 7px;
	border-width: 4px;
	color: rgba(83,112,146,1);
	text-align: center;
	padding: px 0 0 8px;
	margin-left: 10px;
	height: 108px;
}

input.send:hover {
	background-color: rgba(83,112,146,1);
	border-color: rgba(83,112,146,1);
	border-width: 4px;
}

input.send:hover {
	color: #f1f1f1;
	font-size: 50px;
}

input.send {
	font-size: 50px;
	font-family:doodlesack;
	letter-spacing: 2px;
}

#thank-you {
	margin: 0 0 0 300px;
}

#thank-you h2 {
	color: rgba(133,186,184,1);
	font-size: 40px;
	font-family:'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
}

#thank-you p a {
	color: rgba(83,112,146,1);
	font-family:'Open Sans', sans-serif;
}
	


footer {
	z-index: 10;
	margin-top: 100px;
	background-color: #85bab8;
	color: white;
	padding: 10px 0 10px 15px;
}

.title h1 {
	font-size: 70px;
	letter-spacing:2px;
	color: #4c4c4c;
}

.paragraph {
	padding-top: 20px;
	font-family:'Open Sans', sans-serif;
}

.programs h5{
	font-family:'Open Sans', sans-serif;
	color:#A4A4A4;
	margin-top: -10px;
}

.blurb {
	padding-top: 10px;
}






#project hr {
	border: 0 none;
	height: 2px;
	color: #4C4C4C;
	background-color: #4C4C4C;
	width: 450px;
	display: block;
	margin: 5px 0 5px 0;
}

hr {
	border: 0 none;
	height: 2px;
	color: white;
	background-color: white;
	width: 190px;
	display: block;
	margin: 3px 0 3px 0;
}

.featured a {
	float: left;
	position: relative;
	visibility: visible;	
	border-radius: 500px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.featured a .content-p {
	display: none;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(244,189,191,.8);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.featured a .content-b {
	display: none;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(133,186,184,.8);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.featured a:hover {
	border-radius: 500px;
	opacity: 1;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.featured a:hover .content-p {
	display: block;
	color: white;
	padding: 300px 0 0 300px;
	border-radius: 500px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.featured a:hover .content-b {
	display: block;
	color: white;
	padding: 270px 0 0 200px;
	border-radius: 500px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}


.content-p, .content-b {
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.featured:hover  {
	position: relative;
 	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	display: block;
	border-radius: 500px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	
}

.featured:hover img .content-p {
	width: 100%;
	height: 100%;
	border-radius: 500px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.featured:hover img .content-b {
	width: 100%;
	height: 100%;
	border-radius: 500px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}	


.project a {
	float: left;
	position: relative;
	visibility: visible;	
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.project a .content-p {
	display: hidden;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(244,189,191,.9);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.project a .content-b {
	display: hidden;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: rgba(133,186,184,.9);
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.project {
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.project a:hover {
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	
}

.project a:hover .content-p {
	display: block;
	color: white;
	padding: 20px 0 0 20px;
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.project a:hover .content-b {
	display: block;
	color: white;
	padding: 20px 0 0 20px;
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}


.project:hover  {
	position: relative;
 	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  	display: block;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	
}

.project:hover img .content-p {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.project:hover img .content-b {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}	
	
.content-p {
	padding-left: 20px;
	padding-top: 20px; 
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.content-b {
	padding-left: 20px;
	padding-top: 20px; 
	border-radius: 20px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}



.project-info {
	padding-bottom: 100px;
}

.arrow {
	padding-top: 10px;
	color: #a4a4a4;
}


<!--This is for the burger nav-->

ul, li {margin:0;padding:0;}
a {text-decoration:none;}

h1 {font-size:1.5em;}

header {
    height:115px;
}

header .container {
    padding:0 5%;
}

.container {
	background-color: white;
}

nav#navigation {
    height:80px;
    float:left;
    position:relative;
	padding-top: 17px;
    width:88%;
	background: white;
	top: 0;
	left: -3px;
}

nav#navigation .nav-trigger {
    display:none;
    position:absolute;
    top:10;
    right:0;
    width:38px;
    height:38px;
    background:#212121;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    z-index:100;
    cursor:pointer;
}

nav#navigation ul li {
    float:left;
    list-style:none;
    text-align:center;
    width:10%;
    margin-left:1%;
}

nav#navigation ul li a {
	font-family:doodlesack, open-sans;
	font-size:20px;
	letter-spacing: 2px;
    text-align:center;
    display:block;
    color: #4C4C4C;
    padding:10px 0;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}

nav#navigation ul li.current a {
    background:#fff;
    color:#ccc;
}

nav#navigation ul li a:hover {
    color: #85bab8;
}


@media only screen and (max-width : 900px) {
nav#navigation {
    position:absolute;
    width:90%;
}

nav#navigation .nav-trigger {
    display:block;
    border-radius: 5px;
}

nav#navigation .nav-trigger span {
    position:absolute;
    display:block;
    width:20px;
    height:2px;
    background:#FFF;
    top:18px;
    left:50%;
    margin-left:-10px;
    -webkit-transition:background .5s;
    -moz-transition:background .5s;
    transition:background .5s;
}

nav#navigation .nav-trigger span::before,.nav-trigger span::after {
    content:'';
    position:absolute;
    left:0;
    background:inherit;
    width:100%;
    height:100%;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}

nav#navigation .nav-trigger span::before {
    top:-6px;
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}

nav#navigation .nav-trigger span::after {
    bottom:-6px;
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}

nav#navigation .nav-trigger.open span {
    background:rgba(255,255,255,0);
}

nav#navigation .nav-trigger.open span::before,.nav-trigger.open span::after {
    background:#FFF;
}

nav#navigation .nav-trigger.open span::before {
    top:0;
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
}

nav#navigation .nav-trigger.open span::after {
    bottom:0;
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transform:rotate(225deg);
}

nav#navigation ul {
    width:100%;
    position:absolute;
	padding: 90px 90px 0 0;
    right:0;
	top: -30px;
	right: -90px;
    background: white;
    visibility:hidden;
    z-index:50;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transform-origin:100% 0;
    -moz-transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    -o-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-transition:-webkit-transform 0.5s,visibility 0 .5s;
    -moz-transition:-webkit-transform 0.5s,visibility 0 .5s;
    transition:-webkit-transform 0.5s,visibility 0 .5s;
}

nav#navigation ul.is-visible {
    visibility:visible;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:-webkit-transform 0.5s,visibility 0 0;
    -moz-transition:-moz-transform 0.5s,visibility 0 0;
    transition:transform 0.5s,visibility 0 0;
}

nav#navigation ul.is-visible li a {
    visibility:visible;
    padding-bottom: 60px;
    font-size: 25px;
}

nav#navigation ul li {
    width:50%;
    margin:0;
}

nav#navigation ul li a {
    width:100%;
    padding:10px 0;
    color: black;
    visibility:hidden;
    border-radius:0;
	color: #4c4c4c;
}

nav#navigation ul li a:hover {
    border:0;
}

nav#navigation ul li.last a {
    background:none;
    border:0;
    display:block;
    padding:15px 0;
    color: #4c4c4c;
    font-size:.8em;
}

nav#navigation ul li.last a:hover {
    border:0;
}

@media only screen and (max-width : 640px) {
nav#navigation ul li {
    width:100%;
}
}

<!--This is for tablet screen size (Everything but nav)-->
@media only screen and (max-width : 1025px) {



	
}





<!--This is for mobile screen size (Everything but nav)-->

@media only screen and (max-width : 640px) {
	
#social-icons {
	padding-top: 100px;
}

.featured-work {
	margin-top: 100px;
	margin-right: -200px;
	text-align:left;
	font-size: 50px;
	line-height: 60px;
}

h1 .featured-work {
	font-family: doodlesack, open-sans;
	font-size: 30px;
	letter-spacing: 3px;
	color: #DCDCDC;
	line-height: 45px;
	padding-bottom:10px;
}
	


#work .column-work {
	padding: 5px 5px 0 0;
	border-radius: 5px;
}

.block {
	margin: 5px 5px 0 0;
	background-color: #C7C7C7;
	border-radius: 5px;
}

.social {
	padding: 0 0 5px 0;
}

#home {
	z-index: 0;
	margin-top: 0;
}

	
}